body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-sarif;
}

.container {
    columns: 3;
}

h2 {
    font-family:'Big Shoulder Display', sans-sarif;
    font-weight: 700;
}

